@import "styles.css";

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

.chat-area {
  header {
    display: flex;
    align-items: center;
    padding: 18px 30px;

    .back-icon {
      font-size: 18px;
      color: #333;
    }
    img {
      height: 45px;
      width: 45px;
      margin: 0 15px;
    }
    .details {
      span {
        font-size: 17px;
        font-weight: 500;
      }
    }
  } //header
}
