@import "styles.css";
.form {
  padding: 25px 30px;
}
.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.form form {
  margin: 20px 0;
}
.form form .error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}
.form form .name-details {
  display: flex;
}
.form form .name-details .field:first-child {
  margin-right: 10px;
}
.form form .name-details .field:last-child {
  margin-left: 10px;
}
.form form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form form .field label {
  margin-bottom: 2px;
}
.form form .field input {
  outline: none;
}
.form form .field input[type="text"],
.form form .field input[type="password"] {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form form .field input[type="field"] {
  font-size: 17px;
}
.form form .field input[type="submit"] {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.form form .field i {
  position: absolute;
  top: 70%;
  right: 15px;
  color: #ccc;
  transform: translateY(-50%);
  cursor: pointer;
}
.form form .field i.active::before {
  content: "\f070";
  color: #333;
}
.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
.form .link a {
  color: #333;
}
.form .link a:hover {
  text-decoration: underline;
}
